.pagetwo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9999cc;
}

.pagetwo p {
  color: #ffffff;
  flex: 2;
}

.pagetwo .button-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pagetwo .button-back,
.pagetwo .button-next-page {
  display: block;
  font-size: 120%;
  -webkit-appearance: none;
  border-radius: 2px;
  background: #efefef;
  color: #666666;
  padding: 10px;
  margin: 16px 0;
  width: 270px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.pagetwo .button-back.Tappable-active,
.pagetwo .button-next-page.Tappable-active {
  background: #e6e6e6;
  color: #333333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
